<ul id="lists">
	<% sort(@lists).each do |list| %>
	  <li class=<%= checkable(list) %>><a href=<%= "/lists/#{list[:id]}" %>>
      <h2> <%= list[:name] %></h2>
      <p><%= remaining(list) %> / <%= list[:todos].size %></p>
    </a></li>
	<% end %>
</ul>
<% content_for :header_links do %>
  <a href="/lists/new" class="add">New List</a>
<% end %>